// Body
$body-bg: #f8fafc;

// Shades
$shade-white: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
// $yellow: #ffed4a;
$yellow: #f3da0b;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Dropzone bg
$bg-red: #cc2e2a;
$bg-orange: #dd8938;
$bg-yellow: #dac409;

// Elements colors
$grey: #979797;
$shadow: rgba(87,87,87,1);

// Breakpoints
$small: 576px;
$medium: 768px;
$large: 576px;
$xlarge: 576px;
