@import 'variables';
@import '~dropzone/dist/dropzone.css';
@import '~dropzone/dist/basic.css';

.dropzone {
    border: 2px dashed;
    border-radius: 5px;
    height: 200px; /*test*/
}

.dz-preview {
    width: 100% !important;
}

.dz-image {
    background: transparent !important;
}

.dz-progress {
    // margin-top: 35px;
    margin-left: -70px !important;
    top: 90% !important;
    width: 150px !important;
    background-color: transparent !important;
    & > span.dz-upload {
        background-color: $shade-white !important;
    }
}

.dz-details {
    text-align: center !important;
}

.dz-error-mark, .dz-error-message {
    display: none !important;
}

.dropzone-container-1 {
    background-color: $red;
}

.dropzone-container-2 {
    background-color: $orange;
}

.dropzone-container-3 {
    background-color: $yellow;
}

.dropzone-outliner {
    background-color: transparent;
    transition: background-color ease-in-out 0.5s;
    transition: color ease-in 0.25s;
}

.dropzone-outliner-1 {
    border: 2px solid $red;
    &:hover {
        background-color: $red;
        color: white;
    }
}

.dropzone-outliner-2 {
    border: 2px solid $orange;
    &:hover {
        background-color: $orange;
        color: white;
    }
}

.dropzone-outliner-3 {
    border: 2px solid $yellow;
    &:hover {
        background-color: $yellow;
        color: white;
    }
}

.dropzone-1 {
    background-color: $bg-red;
    border-color: $shade-white;
}

.dropzone-2 {
    background-color: $bg-orange;
    border-color: $shade-white;
}

.dropzone-3 {
    background-color: $bg-yellow;
    border-color: $shade-white;
}