li {
    list-style-type: none;
}

// Stretch main div through the page height
.div-stretch{
    margin-top: 50px;     /* Header fixed size */
    margin-bottom: 55px;  /* Footer fixed size */
    width: 100% !important;
    min-height: 100vh;
 }
 